<!-- app.component.html -->

<header class="bg-gray-800 p-4">
  <nav class="flex justify-between items-center">
    <div class="text-white text-xl" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Richard Day</div>

    <ul class="flex space-x-4">
      <li><a class="text-white hover:text-blue-500" routerLink="/cv" routerLinkActive="active">Resume</a></li>
      <li><a class="text-white hover:text-blue-500" routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
      <li><a class="text-white hover:text-blue-500" routerLink="/blog" routerLinkActive="active">Blog</a></li>
      <li><a class="text-white hover:text-blue-500" routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </nav>
</header>
test
<router-outlet></router-outlet>
