
<div class="bg-gray-100 p-6">
	<div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-lg">
		<header class="pb-2">
			<h1 class="text-3xl font-bold text-gray-800 px-2">CV</h1>

        </header>
		<section class="mt-6">
			<h2 class="text-xl font-semibold text-gray-700">
				Professional Summary
			</h2>
			<p class="text-gray-600 mt-2">
				A highly skilled software developer with 5+ years of experience in full-stack development, CI/CD automation, and cloud-based solutions. Proven expertise in .NET, C#, Angular, and Azure DevOps. Passionate about delivering scalable, high-performance applications.
			</p>
		</section>
		<section class="mt-6">
			<h2 class="text-xl font-semibold text-gray-700">
				Professional Experience
			</h2>
			<div class="mt-4">
				<h3 class="text-lg font-medium">
					Mid-Level Full-Stack Developer | INTO Global
				</h3>
				<p class="text-gray-500">
					October 2022 – February 2025
				</p>
				<ul class="list-disc text-gray-600 mt-2 pl-10">
					<li>
						Co-developed an Angular front-end and .Net Rest API using CI/CD pipeline through Azure DevOps.
					</li>
					<li>
						Actively foster knowledge sharing and integration of best practices.
					</li>
					<li>
						Leveraged Terraform for Azure automation, improving release cycle by 70%.
					</li>
					<li>
						Implemented event-driven architecture with Event Grid for microservices.
					</li>
				</ul>
			</div>
			<div class="mt-4">
				<h3 class="text-lg font-medium">
					Junior Full-Stack Developer | Polygon UK Ltd
				</h3>
				<p class="text-gray-500">
					February 2021 – October 2022
				</p>
				<ul class="list-disc text-gray-600 mt-2 pl-10">
					<li>
						Contributed to migrating company’s on-premises systems to Microsoft Azure.
					</li>
					<li>
						Led the migration of a production Access database to Azure SQL.
					</li>
					<li>
						Built an Angular app integrated into a .NET BFF following microservice principles.
					</li>
					<li>
						Designed solutions adhering to clean architecture principles.
					</li>
				</ul>
			</div>
			<div class="mt-4">
				<h3 class="text-lg font-medium">
					IT Support Engineer | Polygon UK Ltd
				</h3>
				<p class="text-gray-500">
					December 2016 – February 2022
				</p>
				<ul class="list-disc  text-gray-600 mt-2 pl-10 ">
					<li>
						Provided 1st line support for hardware and software issues, ensuring system reliability for business operations.
					</li>
					<li>
						Leveraged IT experience to transition into software development, taking the initiative to learn coding and pursue advanced technical challenges.
					</li>
				</ul>
			</div>
		</section>
		<br>
		<section class="mt-6 ">
			<h2 class="text-xl font-semibold text-gray-600">
				Technologies and Skills
			</h2>
			<ul class="list-disc list-inside text-gray-600 mt-2 pl-6">
				<li>
					<strong>
						Languages & Frameworks:
					</strong>
					.NET, C#, TypeScript, Angular, React, JavaScript, SQL.
				</li>
				<li>
					<strong>Cloud Platforms:</strong>
					Azure (App Services, Logic Apps, Cosmos DB), Firebase, Kubernetes.
				</li>
				<li>
					<strong>
						DevOps & Automation:
					</strong>
					Azure DevOps (CI/CD), Docker, Terraform.
				</li>
				<li>
					<strong>Testing:</strong>
					Integration testing, load testing with K6, browser automation.
				</li>
			</ul>
		</section>
	</div>
</div>
